<!-- <h2>
    Welcome {{name}}
</h2>
<h2>
    {{2+2}}
</h2>
<h2>
    {{"Welcome " + name}}
</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase() }}</h2>
<h2>{{ greetUser() }}</h2>
<h2>{{ siteUrl }}</h2>

<input type="text" value="Vishal"/>
<input [id]="myId" type="text" value="Vishal"/>
<input id="{{myId}}" type="text" value="Vishal" [disabled]="false"/>
<input id="{{myId}}" type="text" value="Vishal" bind-disabled="false"/>
<br> -->
<button (click)="onMoveToNext()">Click me</button>
<!-- <app-vishal></app-vishal> -->